*{
    --background : black;
    margin: 0;
    padding: 0;
}

body{
    background: var(--background);
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scene{
    width: 1200px;
    height: 740px;
    position: relative;
    background: var(--background);
    margin: auto;
 
}


.character{
    position: absolute;
    transform: translate(80%, -5%);
    width: 30em;
    height: 100vh;
    aspect-ratio: 1;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.character > img {
    transform: scale(2); 
    position: absolute;
    bottom: -250px;
    height: 600px; 
}


@keyframes clignement {
    0%, 100% {
      height: 20%;
      top: 50%;
    }
    50% {
      height: 1%;
      top : 65%
    }
}

@keyframes moveRight {
    from {
        transform: translate(80%, -5%);
    }
    to {
        transform: translate(0%, -5%);
    }
}

@keyframes returnPosition {
    from {
        transform: translate(0%, -5%);
    }
    to {
        transform: translate(80%, -5%);
    }
}